public/dashboard.html
<p>sidebar fixed.</p><p>conteudo scrolling.</p><div id="gc_budget_box"><p>Basilheus Budget.</p><form name="new-gbs-budget" method="post"><div class="input"><span class="label">Title</span><input type="text" name="title"/></div><div class="actions"><input type="submit" value="add"/></div></form></div>

_src/assets/_jade/dashboard.jade
p sidebar fixed.
p conteudo scrolling.
#gc_budget_box
	p Basilheus Budget.
	form(name="new-gbs-budget", method="post")
		div.input
			span.label Title
			input(type="text", name="title")
		div.actions
			input(type="submit", value="add")
